body {
    margin-top: 5%;
    background: #efeae2;
    font-family: sans-serif;
}

#board, #controls {
    margin: 0 auto;
    width: 90%;
}

#controls {
    margin-top: 3%;
}

button {
    float: left;
    font-size: 125%;
    margin-right: 0.5em;
    padding: 0.25em;
}

#status {
    float: right;
    font-size: 125%;
    padding: 0.25em;
}
