body {
    margin-top: 5%;
    background: #efeae2;
    font-family: sans-serif;
}

#board, #controls {
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
}

#controls {
    margin-top: 1em;
}

button, #status {
    font-size: 125%;
    padding: 0.25em;
}

button {
    float: left;
    margin-right: 0.5em;
}

#status {
    float: right;
}
